<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Profile</title>

    <!-- Favicon -->
    <link rel="icon" href="/static/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/style.css">

<style type="text/css" id="jarallax-clip-0">#jarallax-container-0 {
           clip: rect(0 996px 964px 0);
           clip: rect(0, 996px, 964px, 0);
        }</style><style type="text/css" id="jarallax-clip-1">#jarallax-container-1 {
           clip: rect(0 996px 473px 0);
           clip: rect(0, 996px, 473px, 0);
        }</style><style type="text/css" id="jarallax-clip-2">#jarallax-container-2 {
           clip: rect(0 996px 730px 0);
           clip: rect(0, 996px, 730px, 0);
        }</style>
</head>

<body>

    <h1>This is the signup page</h1>
    <p>This page is still under construction</p>

</body>

</html>