{% load static from static %}

<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <meta name="description" content="">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            
                <!-- Title -->
                <title>Entry List</title>
            
                <!-- Favicon -->
                <link rel="icon" href="/static/img/core-img/favicon.ico">
            
                <!-- Stylesheet -->
                <link rel="stylesheet" href="/static/style.css">
            
            <style type="text/css" id="jarallax-clip-0">#jarallax-container-0 {
                       clip: rect(0 996px 964px 0);
                       clip: rect(0, 996px, 964px, 0);
                    }</style><style type="text/css" id="jarallax-clip-1">#jarallax-container-1 {
                       clip: rect(0 996px 473px 0);
                       clip: rect(0, 996px, 473px, 0);
                    }</style><style type="text/css" id="jarallax-clip-2">#jarallax-container-2 {
                       clip: rect(0 996px 730px 0);
                       clip: rect(0, 996px, 730px, 0);
                    }
                    table {border-style: none;  border-width: 50px; border-color: #10ec2e; background-color: #d9d9d9;}
                    th  {text-align: center; text-shadow: 1.5px 1px rgb(73, 73, 73); border:3px solid #000000;}   
                    td {text-align: center; border:1px ridge #868582;}
                    </style>
        </head>


    <body>
 <!-- Header Area Start -->
 <header class="header-area">
    <!-- Main Header Start -->
    <div class="main-header-area">
        <div class="classy-nav-container breakpoint-off light left">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="razoNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="#"><img src="\.\static\img\core-img\logo_transparent.png" alt="logo" height="110" width="110">
                    </a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="/.">Home</a></li>
                                <li class="cn-dropdown-item has-down"><a href="#">Profile</a>
                                    <ul class="dropdown">
                                        <li><a href="/./accounts/profilepage">- View Profile</a></li>
                                        <li><a href="/./accounts/manageaccount/">- Manage Account</a></li>
                                    </ul>
                                <span class="dd-trigger"></span></li>
                                <li><a href="/./record/">Record</a></li>
                                <li><a href="/./entries/">Browse</a></li>
                            </ul>

                            <!-- Share Icon -->
                            <div class="social-share-icon">
                                <i class="social_share"></i>
                            </div>

                            <!-- Search Icon -->
                            <div class="search-icon" data-toggle="modal" data-target="#searchModal">
                                <i class="icon_search"></i>
                            </div>
                        </div> 
                        <!-- Nav End --> 
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->

<div class="container"> 
    <div class="row">
        <div class="col-12">
                <h1>List of Entries</h1>  
                <table style="width:100%">
                    <tr>
                      <th>ID</th>
                      <th>Title</th> 
                      <th>Date</th>
                      <th>Audio File</th>
                    </tr>


                    <div class="entries">
                    {% for entry in entries %} <!--not outputting any kind of data--><!--start of for loop-->
                        <div class="entry">
                            <tr>
                                <td>{{entry.id}}</td>
                                <td>{{entry.title}}</td>
                                <td>{{entry.date}}</td>
                                <td><audio src="{{entry.upload.url}}" preload="auto" ></td>
                            </tr>
                            </div>
                        {% endfor %}
                        </div>  
                    </table>

            </div>    
        </div> 
    </div>
    </body>

    <script src="../static/audiojs/audio.min.js"></script>
    <script>
        audiojs.events.ready(function() {
          var as = audiojs.createAll();
        });
      </script>

</html>


